* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-primary: #F4F5FB;

  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;

  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;

  --border: #D1D5DB;
  --border-hover: #B9C2D0;

  --ff-base: "Inter", sans-serif;

  --title: 700 1.5rem/2rem var(--ff-base);
  --label: 500 1rem/1.25rem var(--ff-base);
  --paragraph: 500 1.5rem/1.25rem var(--ff-base);
  --link: 500 .875rem/1rem var(--ff-base);
}

body {
  background-color: var(--background-primary);
  font: var(--paragraph);
}

.container {
  margin-inline: 2rem;
}

img {
  max-width: 100%;
}

@media (width >= 79.6em) {
  .container {
    margin-inline: 23.125rem;
  }
}

